<StackLayout shownModally = "onShownModally" backgroundColor = "transparent">
    <Textfield hint = "Assessment name" androidElevation = "5" marginTop = "10"></Textfield>
        <GridLayout columns = "190, 100" rows = "60,60" height = "160" width = "300">
            <Label  fontSize = "20" text = "Grade Factor (%): " row = "0" column = "0" paddingLeft="10" verticalAlignment = "center"></Label>
            <Label  fontSize = "20" text = "Weight Factor (%): " row = "1" column = "0" paddingLeft = "10" verticalAlignment = "center"></Label>
            <TextField hint = "55.5" keyboardType = "number" row = "0" column ="1" verticalAlignment = "center" androidElevation = "5"></TextField>
            <TextField hint = "5.0" keyboardType = "number" row = "1" column = "1" verticalAlignment = "center" androidElevation = "5"></TextField>
        </GridLayout>
        <Button text="Add" (tap)="close()" color = "white" width = "45%" backgroundColor = "#739AFC"></Button>
</StackLayout>