<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<AbsoluteLayout width = "100%" height = "100%" >
 <StackLayout width = "100%" height = "100%">
     <Label text = "Hi Martin, which course would you like to check?" marginTop = "10" marginLeft = "25" marginRight = "25" fontSize = "20" textWrap = "true" fontWeight = "600"></Label>
    <StackLayout marginTop = "15" class = "course-block" borderRadius = "10" height = "100" marginLeft = "25" marginRight = "25" borderWidth = "1" (tap) ="navigateToCourse()"> 
        <Label text = "PROCTECH 3CE3 - Chemical Engineering" class = "text-center"></Label>
    </StackLayout>
    <StackLayout marginTop = "15" class = "course-block" borderRadius = "10" height = "100" marginLeft = "25" marginRight = "25" borderWidth = "1" (tap)="navigateToCourse()"> 
        <Label text = "PROCTECH 4SS3 - System Specifications and Design" class = "text-center"></Label>
    </StackLayout>
    <Button text ="Create database person" (tap)="createPerson()" color = "white" backgroundColor = "#53ACff" width = "200"></Button>
    <Button text ="Read from database" (tap)="readPerson()" color = "white" backgroundColor = "#53ACff" width = "200"></Button>

</StackLayout>

    <Button androidElevation = "5" top = "455" left = "250" height = "75" width = "75" borderRadius = "50%" backgroundColor = "#5E94D5" (tap) = "addGPA()">
        <FormattedString>
            <Span text = "&#xf067;" color = "white" class = "fas" fontSize = "30"></Span>
        </FormattedString>
    </Button>
</AbsoluteLayout>

